table.resultados {
    border-collapse: collapse;
}

table.resultados caption {
    font-weight: bold;
    margin-bottom: 1em;
}

table.resultados th,
table.resultados td {
    padding: 0.5em 1em;
    border: 1px solid grey;
}

article.botones input {
    padding: 0.5em 1em;
}
